## End Points
<aside class="warning">
NOTE: This section does not include any end points that will be defined by the design of the <a href='https://cdr-register.github.io/'>CDR Register</a>. End points related to Data Recipient registration, certificate revocation, Data Recipient discovery or Data Holder discovery are documented in the <a href='https://cdr-register.github.io/'>CDR Register</a> technical documentation.
</aside>

<%= partial "includes/security/endpoints/oidc_provider_configuration.md" %>
<%= partial "includes/security/endpoints/authorisation.md" %>
<%= partial "includes/security/endpoints/jwks.md" %>
<%= partial "includes/security/endpoints/token.md" %>
<%= partial "includes/security/endpoints/userinfo.md" %>
<%= partial "includes/security/endpoints/token_introspection.md" %>
<%= partial "includes/security/endpoints/token_revocation.md" %>
<%= partial "includes/security/endpoints/cdr_arrangement_revocation.md" %>
<%= partial "includes/security/endpoints/par.md" %>
